.header-home {
  background: #2C2B2A;
  font-size: 1.6rem;
  line-height: 1.3em;
  margin-bottom: var(--gap);
  padding: 3vmin 4vmin; }

.nav-home {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: block;
  flex-direction: row;
  height: 100px; }

.page-home {
  background-color: #2C2B2A;
  padding: 0 4vmin;
  height: 1000px; }

.container-home {
  background-color: #2C2B2A;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%; }

.homepage-feature {
  border-radius: var(--radius);
  display: Grid;
  gap: calc(var(--gap)/1.5);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-bottom: 100px; }

.farm-page {
  display: flex;
  position: relative;
  height: 100%;
  margin-bottom: 0;
  color: inherit;
  text-decoration: none;
  transition: .4s ease;
  gap: var(--gap);
  grid-template-columns: .5fr auto;
  box-shadow: 0 50px 80px -20px transparent;
  filter: brightness(90%);
  margin-left: 20px;
  margin-top: 25px; }

.farm-page:hover .img-home {
  transform: scale(1.01);
  transition: transform .4s ease; }

.img-home {
  border-radius: 2%;
  height: 600px;
  object-fit: cover;
  position: relative;
  width: 100%;
  display: block;
  max-width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
  color: inherit;
  text-decoration: none;
  transition: .4s ease; }

.nav-home p {
  display: block; }

.h1-home {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  display: inline;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

.h4-home {
  font-size: 22px;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  margin: 0 auto 60px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }
