<div class="wrapper">
    <div class="content-page">
        <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand">
                    <a href="/" class="goHome"><i class="fa-solid fa-house"></i></a>
                    <p class="title-menu">Chuồng gà</p>
                </div>
                
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            {{!-- <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">MENU</div>
                            </li> --}}
                            <li class="menu-total dashboard">
                                <a href="farm">
                                    <i class="fa fa-bar-chart" style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Giám sát</span>
                                </a>                              
                            </li>
                            <li class="menu-total warning">
                                <a href="warning">
                                    <i class='fa fa-exclamation-circle' style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Lịch sử cảnh báo</span>
                                </a>                                
                            </li>
                            <li class="menu-total ctrl">                              
                                <a href="control">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">tune</i>
                                    <span>Điều khiển</span>
                                </a>              
                            </li>
                            <li class="menu-total reprt">                              
                                <a href="report">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">assignment</i>
                                    <span>Báo cáo</span>
                                </a>              
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <section style="margin-top: 20px;">
            <a href="#" id="btn-toggle-auto-mode" class="auto-mode-button" onclick="handleToggleAutoMode()"><i id="toggle-icon" class="fas fa-toggle-off"></i></a>
            <h3 class="h3auto">Chế độ tự động</h3>                         
        </section>
        <div class="container-fluid">
            <div class="row contrl1">
                <div class="col-lg-6 col-ctrl">
                    <div class="chart-info-box ctrl-box" style="height: 170px;">
                        <section>
                            <h3 class="h3ctrl" style="margin-top: 0;">Đèn 1</h3>
                            <a href="#" id="btn-on31" class="led-button" onclick="handleClick31()"><i class="fa fa-lightbulb-o"></i></a>
                            <span class="ledSpan"></span>
                        </section>
                        <section>
                            <h3 class="h3ctrl" style="margin-top: 0;">Đèn 2</h3>
                            <a href="#" id="btn-on32" class="led-button" onclick="handleClick32()"><i class="fa fa-lightbulb-o"></i></a>
                            <span class="ledSpan"></span>
                        </section>
                        <section>
                            <h3 class="h3ctrl" style="margin-top: 0;">Đèn 3</h3>
                            <a href="#" id="btn-on33" class="led-button" onclick="handleClick33()"><i class="fa fa-lightbulb-o"></i></a>
                            <span class="ledSpan"></span>
                        </section>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-ctrl">
                    <div class="chart-info-box ctrl-box" style="height: 220px;">
                        <section style="top: 0%;">
                            <div style="width:110px; display: inline-block; float: left; margin-left: 39px;">
                                <a href="#" id="btn-on4" class="food-button" onclick="submitFoodValue()" style="margin: 0 !important;"><i class="fas fa-drumstick-bite"></i></a>
                                <p style="font-size: 20px; font-weight: bold; position:absolute; left: 25%;">Lần 1</p>
                                <p style="font-size: 20px; font-weight: bold; position:absolute; left: 25%; top: 68%;">Lần 2</p>
                            </div>
                            <h3 class="h3ctrl">Thức ăn</h3>
                            <div style="width:300px; display: inline-block;">
                                <input type="range" min="0" max="1000" value="0" class="slider" id="foodRange" onchange="updateFoodValue()">
                                <div class="foodValuec"><span id="foodValue">0g</span></div>
                                <div style="margin-top: 30px;">
                                    <div class="time-inputs">
                                        <div class="time-input" style="margin-left: 40px;">
                                            <label for="hour" style="margin-bottom: 0;">Giờ:</label>
                                            <input type="number" id="hour" name="hour" min="0" max="23" value="0">
                                        </div>
                                        <div class="time-input" style="margin-right: 50px;">
                                            <label for="minute" style="margin-bottom: 0;">Phút:</label>
                                            <input type="number" id="minute" name="minute" min="0" max="59" value="0">
                                        </div>
                                    </div>
                                    <div class="time-inputs">
                                        <div class="time-input" style="margin-left: 40px;">
                                            <label for="hour" style="margin-bottom: 0;">Giờ:</label>
                                            <input type="number" id="hour" name="hour" min="0" max="23" value="0">
                                        </div>
                                        <div class="time-input" style="margin-right: 50px;">
                                            <label for="minute" style="margin-bottom: 0;">Phút:</label>
                                            <input type="number" id="minute" name="minute" min="0" max="59" value="0">
                                        </div>
                                    </div>
                                    <button id="submitTime" type="button" style="margin-top: 10px; border-radius: 5px;">Thiết lập</button>
                                </div>
                            </div>
                            
                        </section>
                    </div>
                </div>
                
            </div>

            <div class="row contrl2">
                <div class="col-lg-6 col-ctrl">
                    <div class="chart-info-box ctrl-box"  style="width: 200px;">
                        <section>
                            <h3 class="h3ctrl" style="margin-top: 0;">Đèn sưởi</h3>
                            <a href="#" id="btn-on1" class="warm-button" onclick="handleClick1()"><i class="material-icons">wb_sunny</i></a>
                            <span></span>      
                        </section>                
                    </div>
                </div>
                <div class="col-lg-6 col-ctrl">
                    
                    <div class="chart-info-box ctrl-box"  style="width: 200px;">
                        <section>
                            <h3 class="h3ctrl">Quạt</h3>
                            <a href="#" id="btn-on2" class="fan-button" onclick="handleClick2()"><i class="fas fa-fan"></i></a>
                            <span></span>                        
                        </section>
                    </div>
                </div>
            </div>

            <div class="row report" style="margin-top: 70px;">
                <div class="col-lg-12">
                    <div class="card-report">
                        <div class="card-header farm" style="margin-left: 20px; width: 1340px;">
                            <h4>Sau khi bật chế độ tự động</h4>
                            <p>Điều kiện các thiết bị hoạt động</p>
                        </div>
                        <div class="card-body">
                            <table class="condition">
                                <thead>
                                    <tr>
                                        <th>Thiết bị</th>
                                        <th>Điều kiện</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Một đèn</td>
                                        <td>Cường độ ánh sáng (lux) trong khoảng 30-50 lux</td>
                                    </tr>
                                    <tr>
                                        <td>Hai đèn</td>
                                        <td>Cường độ ánh sáng (lux) trong khoảng 20-30 lux</td>
                                    </tr>
                                    <tr>
                                        <td>Ba đèn</td>
                                        <td>Cường độ ánh sáng (lux) trong khoảng 10-15 lux</td>
                                    </tr>
                                    <tr>
                                        <td>Đèn sưởi</td>
                                        <td>Nhiệt độ chuồng dưới 26 độ C</td>
                                    </tr>
                                    <tr>
                                        <td>Quạt</td>
                                        <td>Nhiệt độ chuồng vượt quá 35 độ C</td>
                                    </tr>
                                    <tr>
                                        <td>Cho ăn</td>
                                        <td>Thiết lập lượng thức ăn và thời gian cho ăn lần 1, lần 2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    var foodAmount = 0;

    $(document).ready(function(){
        $('#btn-on1').click(function(){
            $(this).toggleClass('on');
        });

        $('#btn-on2').click(function(){
            $(this).toggleClass('on');
        });

        $('#btn-on21').click(function(){
            $(this).toggleClass('on');
        });

        $('#btn-on31').click(function(){
            $(this).toggleClass('on');
        });

        $('#btn-on32').click(function(){
            $(this).toggleClass('on');
        });

        $('#btn-on33').click(function(){
            $(this).toggleClass('on');
        });

        $("#btn-toggle-auto-mode").click(function () {
            $(this).toggleClass("on");
        });

    });

    const socket = io();
    let dataArr = [];
        
    var time_table = '';
    let dataCount = 0;
    const localStorageKey1 = 'dataArrFarm';

    function handleToggleAutoMode() {
        var toggleIcon = document.getElementById("toggle-icon");
        if (toggleIcon.classList.contains("fa-toggle-off")) {
            toggleIcon.classList.remove("fa-toggle-off");
            toggleIcon.classList.add("fa-toggle-on");
        } else {
            toggleIcon.classList.remove("fa-toggle-on");
            toggleIcon.classList.add("fa-toggle-off");
        }

        const btnAutoOn = document.getElementById('btn-toggle-auto-mode');
        const isOnAuto = btnAutoOn.classList.contains('on');
        socket.emit('auto', { status: isOnAuto ? 'off' : 'on' });

        localStorage.setItem("autoModeState", isOnAuto ? "off" : "on");
    }

    function setAutoModeButtonState() {
        const autoModeState = localStorage.getItem("autoModeState");
        const toggleIcon = document.getElementById("toggle-icon");
        const btnAutoOn = document.getElementById("btn-toggle-auto-mode");

        if (autoModeState === "on") {
            toggleIcon.classList.remove("fa-toggle-off");
            toggleIcon.classList.add("fa-toggle-on");
            btnAutoOn.classList.add("on");
        } else {
            toggleIcon.classList.remove("fa-toggle-on");
            toggleIcon.classList.add("fa-toggle-off");
            btnAutoOn.classList.remove("on");
        }
    }

    function updateFoodValue() {
        const foodRange = document.getElementById('foodRange');
        const foodValue = document.getElementById('foodValue');
        foodValue.textContent = foodRange.value + 'g';
    }

    function submitFoodValue() {
        const foodRange = document.getElementById('foodRange');
        const foodValue = foodRange.value;
        socket.emit('food', { value: foodValue });
    }

    socket.on('data3', function (data) {
        data.updateTime = Date.now();
    });

    function handleClick1() {
        const btnOn1 = document.getElementById('btn-on1');
        const isOn = btnOn1.classList.contains('on');
        socket.emit('light', { status: isOn ? 'off' : 'on' });

        localStorage.setItem("light1State", isOn ? "off" : "on");
    }

    function handleClick2() {
        const btnOn2 = document.getElementById('btn-on2');
        const isOnfan = btnOn2.classList.contains('on');
        socket.emit('fan', { status: isOnfan ? 'off' : 'on' });

        localStorage.setItem("fanState", isOnfan ? "off" : "on");
    }

    function handleClick31() {
        const btnOn31 = document.getElementById('btn-on31');
        const isOn1 = btnOn31.classList.contains('on');
        socket.emit('light1', { status: isOn1 ? 'off' : 'on' });

        localStorage.setItem("light2State", isOn1 ? "off" : "on");
    }
    function handleClick32() {
        const btnOn32 = document.getElementById('btn-on32');
        const isOn2 = btnOn32.classList.contains('on');
        socket.emit('light2', { status: isOn2 ? 'off' : 'on' });

        localStorage.setItem("light3State", isOn2 ? "off" : "on");
    }function handleClick33() {
        const btnOn33 = document.getElementById('btn-on33');
        const isOn3 = btnOn33.classList.contains('on');
        socket.emit('light3', { status: isOn3 ? 'off' : 'on' });

        localStorage.setItem("light4State", isOn3 ? "off" : "on");
    }

    function setButtonStates() {
        // Đặt trạng thái của nút Đèn sưởi
        const light1State = localStorage.getItem("light1State");
        const btnOn1 = document.getElementById("btn-on1");
        if (light1State === "on") {
            btnOn1.classList.add("on");
        } else {
            btnOn1.classList.remove("on");
        }

        // Đặt trạng thái của nút Quạt
        const fanState = localStorage.getItem("fanState");
        const btnOn2 = document.getElementById("btn-on2");
        if (fanState === "on") {
            btnOn2.classList.add("on");
        } else {
            btnOn2.classList.remove("on");
        }

        // Đặt trạng thái của nút Đèn 1
        const light2State = localStorage.getItem("light2State");
        const btnOn31 = document.getElementById("btn-on31");
        if (light2State === "on") {
            btnOn31.classList.add("on");
        } else {
            btnOn31.classList.remove("on");
        }

        // Đặt trạng thái của nút Đèn 2
        const light3State = localStorage.getItem("light3State");
        const btnOn32 = document.getElementById("btn-on32");
        if (light3State === "on") {
            btnOn32.classList.add("on");
        } else {
            btnOn32.classList.remove("on");
        }

        // Đặt trạng thái của nút Đèn 3
        const light4State = localStorage.getItem("light4State");
        const btnOn33 = document.getElementById("btn-on33");
        if (light4State === "on") {
            btnOn33.classList.add("on");
        } else {
            btnOn33.classList.remove("on");
        }
    }

    document.getElementById("submitTime").addEventListener("click", function () {
        const hour1 = document.getElementById("hour").value;
        const minute1 = document.getElementById("minute").value;
        const hour2 = document.querySelectorAll("#hour")[1].value;
        const minute2 = document.querySelectorAll("#minute")[1].value;
        const foodValue = document.getElementById("foodRange").value;

        const timeData = {
            time1: { hour: hour1, minute: minute1 },
            time2: { hour: hour2, minute: minute2 },
            foodValue: foodValue,
        };

        // Gửi dữ liệu đến máy chủ Node.js
        fetch("/update-time", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            },
            body: JSON.stringify(timeData),
        });
        localStorage.setItem("timeData", JSON.stringify(timeData));
    });

    function restoreTimeData() {
        const savedTimeData = localStorage.getItem("timeData");
        if (savedTimeData) {
            const timeData = JSON.parse(savedTimeData);
            document.getElementById("hour").value = timeData.time1.hour;
            document.getElementById("minute").value = timeData.time1.minute;
            document.querySelectorAll("#hour")[1].value = timeData.time2.hour;
            document.querySelectorAll("#minute")[1].value = timeData.time2.minute;
        }
    }

    window.addEventListener('load', function() {
        setAutoModeButtonState();
        setButtonStates();
        restoreTimeData();

        const lux = localStorage.getItem('lux');    
        const nh3 = localStorage.getItem('nh3');
        const food = localStorage.getItem('food');
        const humidity = localStorage.getItem('humidity');
        const temperature = localStorage.getItem('temperature');

        document.querySelector('#lux').textContent = lux + ' ' + 'Lux';
        document.querySelector('#nh3').textContent = nh3 + ' ' + 'ppm';
        document.querySelector('#food').textContent = food + ' ' + 'g';
        document.querySelector('#humidity').textContent = humidity;
        document.querySelector('#temperature').textContent = temperature;
    });
</script>