<div class="wrapper">
    <div class="content-page">
        <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand">
                    <p class="title-menu">Chuồng gà</p>
                </div>
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            {{!-- <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">MENU</div>
                            </li> --}}
                            <li class="menu-total dashboard">
                                <a href="farm">
                                    <i class="fa fa-bar-chart" style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Giám sát</span>
                                </a>                              
                            </li>
                            <li class="menu-total warning">
                                <a href="warning">
                                    <i class='fa fa-exclamation-circle' style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Lịch sử cảnh báo</span>
                                </a>                                
                            </li>
                            <li class="menu-total ctrl">                              
                                <a href="control">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">tune</i>
                                    <span>Điều khiển</span>
                                </a>              
                            </li>
                            <li class="menu-total reprt">                              
                                <a href="report">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">assignment</i>
                                    <span>Báo cáo</span>
                                </a>              
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row chart">
                <div class="col-lg-6 box-one">  
                    <div class="chart-info-box">
                        <div class="chart-container">
                            <div id="tempChart" class="ct-chart ct-golden-section ct-series-a"></div>
                        </div>
                        <p>
                            <span>Nhiệt độ</span><br> 
                            <span class="temp-change"><i class="fa fa-long-arrow-up"></i> <span id="temperature"></span><sup>o</sup>C</span>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time"></span></p>
                    </div>
                </div>
                <div class="col-lg-6 box-two">
                    <div class="chart-info-box">                 
                        <div class="chart-container">
                            <div id="humChart" class="ct-chart ct-golden-section ct-series-a ct-bar"></div>
                        </div>
                        <p>
                            <span>Độ ẩm</span><br>
                            <i class="fa fa-long-arrow-up"></i> <span id="humidity"></span>%
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-2"></span></p>
                    </div>  
                </div>
            </div>
            <div class="row value">
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon lightVa">
                                <i class="material-icons">lightbulb_outline</i>
                            </div>
                            <p class="pvalue">Độ sáng</p><br>
                            <h3 id="lux"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-3"></span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon foodVa">
                                <i class="material-icons">restaurant</i>
                            </div>
                            <p class="pvalue">Lượng thức ăn</p><br>
                            <h3 id="food"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-4"></span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon airVa">
                                <i class="fas fa-wind"></i>
                            </div>
                            <p class="pvalue">Khí NH3</p><br>
                            <h3 id="nh3"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-5"></span></p>
                    </div>
                </div>
            </div>
            <div class="row report">
                <div class="col-lg-12">
                    <div class="card-report">
                        <div class="chart-info-box">
                            <div class="card-header farm">
                                <h4>Bảng thống kê dữ liệu</h4>
                                <p>Hiển thị 10 dữ liệu gần đây nhất</p>
                            </div>
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Nhiệt độ</th>
                                            <th>Độ ẩm</th>
                                            <th>Ánh sáng</th>
                                            <th>Lượng thức ăn</th>
                                            <th>Khí NH3</th>
                                            <th>Thời gian cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

