<header class="header-home">
    <nav class="nav-home">
        <h1>Hệ thống vườn ao chuồng</h1>
    </nav>
</header>

<div class="page-home">
    <div class="container-home">
        <div class="homepage-feature">
            <a href="farm" class="farm-page">
                <img src="/images/farm.JPG" alt="" class="img-home">
            </a>
            <a href="pond" class="farm-page">
                <img src="/images/pond.JPG" alt="" class="img-home">
            </a>
        </div>
    </div>
</div>