<header class="header-home">
    <nav class="nav-home">
        <h1 class="h1-home">HỆ THỐNG AO CHUỒNG</h1>
        
        <h4 class="h4-home">Hệ thống giúp quản lý trang trại, quản lý ao cá, nuôi gà.v... một cách dễ dàng theo phân loại từng nhóm.</h4>
    </nav>
</header>

<div class="page-home">
    <div class="container-home">
        <div class="homepage-feature">
            <a href="farm" class="farm-page" style="margin-right: 50px;">
                <img src="/images/farm.png" alt="" class="img-home">
            </a>
            <a href="pond" class="farm-page" style="margin-left: 50px;">
                <img src="/images/fish.png" alt="" class="img-home">
            </a>
        </div>
    </div>
</div>