<header class="header-home">
    <nav class="nav-home">
        <h1>Hệ thống vườn ao chuồng</h1>
    </nav>
</header>

<div class="page-home">
    <div class="container-home">
        <div class="homepage-feature">
            <a href="farm" class="farm-page">
                <img src="https://foodtank.com/wp-content/uploads/2020/04/COVID-19-Relief_Small-Farms-.jpg" alt="" class="img-home">
            </a>
            <a href="pond" class="farm-page">
                <img src="https://cdn.shopify.com/s/files/1/0080/8861/7040/articles/Healthy_Pond_Ecosystem.jpg?v=1581409421" alt="" class="img-home">
            </a>
        </div>
    </div>
</div>