<div class="wrapper">
    <div class="content-page">
        <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand">
                    <a href="/" class="goHome"><i class="fa-solid fa-house"></i></a>
                    <p class="title-menu">Ao cá</p>
                </div>
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            {{!-- <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">MENU</div>
                            </li> --}}
                            <li class="menu-total dashboard">
                                <a href="pond">
                                    <i class="fa fa-bar-chart" style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Giám sát</span>
                                </a>                              
                            </li>
                            <li class="menu-total warning">
                                <a href="pond-warn">
                                    <i class='fa fa-exclamation-circle' style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Lịch sử cảnh báo</span>
                                </a>                                
                            </li>
                            <li class="menu-total ctrl">                              
                                <a href="pond-ctrl">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">tune</i>
                                    <span>Điều khiển</span>
                                </a>              
                            </li>
                            <li class="menu-total reprt">                              
                                <a href="pond-rep">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">assignment</i>
                                    <span>Báo cáo</span>
                                </a>              
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row value">
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon phVa">
                                <i class="fa-solid fa-droplet"></i>
                            </div>
                            <p class="pvalue">PH</p><br>
                            <h3 id="ph"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-6"></span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon foodVa_pond">
                                <i class="fa-solid fa-fish-fins"></i>
                            </div>
                            <p class="pvalue">Lượng thức ăn</p><br>
                            <h3 id="thucan"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-7"></span></p>
                    </div>
                </div>
                
            </div>
            <div class="row value">
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon airVa">
                                <i class="fa-solid fa-water"></i>
                            </div>
                            <p class="pvalue">Độ đục</p><br>
                            <h3 id="turbidity"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-8"></span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chart-info-box">
                        <p>
                            <div class="card-icon tempwVa">
                                <i class="fa-solid fa-temperature-three-quarters"></i>
                            </div>
                            <p class="pvalue">Nhiệt độ</p><br>
                            <h3 id="tempWater"></h3>
                        </p>
                        <hr>
                        <p class="time"><i class="material-icons">access_time</i> <span id="current-time-9"></span></p>
                    </div>
                </div>
            </div>

            <div class="row report">
                <div class="col-lg-12">
                    <div class="card-report">
                        <div class="chart-info-box">
                            <div class="card-header farm">
                                <h4>Bảng thống kê dữ liệu</h4>
                                <p>Hiển thị 10 dữ liệu gần đây nhất</p>
                            </div>
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Nhiệt độ</th>
                                            <th>PH</th>
                                            <th>Độ đục</th>
                                            <th>Lượng thức ăn</th>
                                            <th>Thời gian cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body1">
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    function updateTime() {
        const now = new Date();
        const days = now.getDate();
        const months = now.getMonth();
        const years = now.getFullYear();
        const hours = now.getHours();
        const minutes = now.getMinutes();
        const seconds = now.getSeconds();

        const formattedTime = `${years}-${(months + 1).toString().padStart(2, '0')}-${days.toString().padStart(2, '0')} ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        document.getElementById('current-time-6').textContent = formattedTime;
        document.getElementById('current-time-7').textContent = formattedTime;
        document.getElementById('current-time-8').textContent = formattedTime;
        document.getElementById('current-time-9').textContent = formattedTime;
    }

    setInterval(updateTime, 1000);
</script>

<script>
        const socket = io();

        var tempCount = 0;

        let dataArr = [];
        
        var time_table = '';
        let dataCount = 0;
        const localStorageKey4 = 'dataArrPond';

        function getDataFromLocalStorage1() {
            const savedData = localStorage.getItem(localStorageKey4);
            if (savedData) {
                dataArr = JSON.parse(savedData);
                updateTable();
            }
        }

        socket.on('data4', function(data) {  
            localStorage.setItem('turbidity', data.Turbidity); 
            localStorage.setItem('thucan', data.Thucan);   
            localStorage.setItem('ph', data.Ph);
            localStorage.setItem('tempWater', data.TempWater);

            document.querySelector('#turbidity').textContent = data.Turbidity + ' ' + 'NTU';
            document.querySelector('#thucan').textContent = data.Thucan + ' ' + 'g';
            document.querySelector('#ph').textContent = data.Ph + ' ' + 'ph';
            document.querySelector('#tempWater').textContent = data.TempWater + ' ' + '℃';

            // Update the temperature chart with the new data
            var time = new Date().toLocaleTimeString();

            // Add new data to the beginning of the array
            dataArr.unshift(data);
            // Keep only the first 10 items in the array
            dataArr = dataArr.slice(0, 10);

            localStorage.setItem(localStorageKey4, JSON.stringify(dataArr));
            // Chỉ cập nhật bảng khi có dữ liệu mới
            if (dataCount % 10 === 0) {
                updateTable1();
            }
            data.time = updateTime1();
            
        });

        function updateTime1() {
            var now = new Date();
            var year = now.getFullYear();
            var month = (now.getMonth() + 1).toString().padStart(2, '0');
            var day = now.getDate().toString().padStart(2, '0');
            var time = now.toLocaleTimeString();
            return year + '-' + month + '-' + day + ' ' + time;
        }

        function updateTable1() {
            const tableBody = document.querySelector('#table-body1');
            tableBody.innerHTML = '';
            let count = 1;
            const timeArr = [];
            for (const data of dataArr) {
                const tr = document.createElement('tr');
                const td1 = document.createElement('td');
                td1.textContent = count++;
                tr.appendChild(td1);
                const td2 = document.createElement('td');
                td2.textContent = data.TempWater + '℃';
                tr.appendChild(td2);
                const td3 = document.createElement('td');
                td3.textContent = data.Ph + 'ph';
                tr.appendChild(td3);
                const td4 = document.createElement('td');
                td4.textContent = data.Turbidity + ' ' + 'NTU';
                tr.appendChild(td4);
                const td5 = document.createElement('td');
                td5.textContent = data.Thucan + ' ' + 'g';
                tr.appendChild(td5);
                const td6 = document.createElement('td');
                td6.textContent = data.time;
                tr.appendChild(td6);
                tableBody.appendChild(tr);
            }
        }


        window.addEventListener('load', function() {  
            getDataFromLocalStorage1();

            const turbidity = localStorage.getItem('turbidity');
            const thucan = localStorage.getItem('thucan');
            const ph = localStorage.getItem('ph');
            const tempWater = localStorage.getItem('tempWater');

            document.querySelector('#turbidity').textContent = turbidity + ' ' + 'NTU';
            document.querySelector('#thucan').textContent = thucan + ' ' + 'g';
            document.querySelector('#ph').textContent = ph + ' ' + 'ph';
            document.querySelector('#tempWater').textContent = tempWater + ' ' + '℃';
        });
    </script>