<div class="wrapper">
    <div class="content-page">
        <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand"></div>
                <hr>
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            {{!-- <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">MENU</div>
                            </li> --}}
                            <li class="menu-total dashboard">
                                <a href="pond">
                                    <i class="fa fa-bar-chart" style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Giám sát</span>
                                </a>                              
                            </li>
                            <li class="menu-total warning">
                                <a href="pond-warn">
                                    <i class='fa fa-exclamation-circle' style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Lịch sử cảnh báo</span>
                                </a>                                
                            </li>
                            <li class="menu-total ctrl">                              
                                <a href="pond-ctrl">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">tune</i>
                                    <span>Điều khiển</span>
                                </a>              
                            </li>
                            <li class="menu-total reprt">                              
                                <a href="pond-rep">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">assignment</i>
                                    <span>Báo cáo</span>
                                </a>              
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row contrl1">
                <div class="col-lg-6 col-ctrl">
                    <div class="chart-info-box ctrl-box">
                        <section>
                            <div style="width:110px; display: inline-block; float: left; margin-left: 39px;">
                                <a href="#" id="btn-on4" class="food-button" onclick="handleClick4()" style="margin: 0 !important;"><i class="fas fa-drumstick-bite"></i></a>
                            </div>
                            <h3 class="h3ctrl">Thức ăn</h3>
                            <div style="width:300px; display: inline-block;">
                                <input type="range" min="0" max="1000" value="0" class="slider" id="foodRange" onchange="updateFoodValue()">
                                <div class="foodValuec"><span id="foodValue">0g</span></div>
                            </div>
                            <section>
                                <h3 class="h3ctrl">Chế độ tự động</h3>
                                <a href="#" id="btn-toggle-auto-mode" class="auto-mode-button" onclick="handleToggleAutoMode()"><i id="toggle-icon" class="fas fa-toggle-off"></i></a>
                                <span></span>
                            </section>
                        </section>
                    </div>
                </div>
                
            </div>

            <div class="row report">
                <div class="col-lg-12">
                    <div class="card-report">
                        <div class="chart-info-box">
                            <div class="card-header">
                                <h4>Bảng thống kê dữ liệu</h4>
                                <p>Hiển thị 20 dữ liệu gần đây nhất</p>
                            </div>
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nhiệt độ</th>
                                            <th>Độ ẩm</th>
                                            <th>Ánh sáng</th>
                                            <th>Khí NH3</th>
                                            <th>Thời gian cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="1"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    var foodAmount = 0;

    function updateFoodValue() {
        var slider = document.getElementById("foodRange");
        var output = document.getElementById("foodValue");
        foodAmount = slider.value;
        output.innerHTML = foodAmount + 'g';
    }

    var ipAddress = "{{ipAddress}}";
    var servoState = false;

    function handleClick4() {
        if (!servoState) {
            $.ajax({
            url: "http://" + ipAddress + "/servo?foodAmount=" + foodAmount,
            success: function() {
                console.log("Turned On FAN");
                servoState = true;
                document.getElementById("btn-on4").innerHTML = "Turn Off FAN";
            },
            error: function() {
                console.log("Error turning on FAN");
            }
            });
        } else {
            $.ajax({
            url: "http://" + ipAddress + "/servo?foodAmount=0",
            success: function() {
                console.log("Turned Off FAN");
                servoState = false;
                document.getElementById("btn-on4").innerHTML = "Turn On FAN";
            },
            error: function() {
                console.log("Error turning off FAN");
            }
            });
        }
        if (checkFoodAmount()) {
            $('#btn-on4').removeClass('on');
        }
    }

    function checkFoodAmount() {
        const dataFood = parseInt(localStorage.getItem("food"));
        if (dataFood >= foodAmount) {
            return true;
        } else {
            return false;
        }
    }

    function handleToggleAutoMode() {
        $.ajax({
        url: "http://" + ipAddress + "/toggleAutoMode",
        success: function () {
            console.log("Toggled Auto Mode");
        },
        error: function () {
            console.log("Error toggling Auto");
        },
        });

        var toggleIcon = document.getElementById("toggle-icon");
        if (toggleIcon.classList.contains("fa-toggle-off")) {
            toggleIcon.classList.remove("fa-toggle-off");
            toggleIcon.classList.add("fa-toggle-on");
        } else {
            toggleIcon.classList.remove("fa-toggle-on");
            toggleIcon.classList.add("fa-toggle-off");
        }
    }


    $(document).ready(function(){
        $('#btn-on4').click(function(){
            if (checkFoodAmount()) {
                $(this).toggleClass('on');
            } else {     
                $(this).removeClass('on');
            }
        });
        $("#btn-toggle-auto-mode").click(function () {
            $(this).toggleClass("on");
        });
    });

    const socket = io();

    // Listen for data from Firebase Realtime Database
    socket.on('data5', function(data) {
        data.updateTime = Date.now();

        localStorage.setItem("food", data.foodAmount);
    });

    window.addEventListener('load', function() {
        const thucan = localStorage.getItem('thucan');

        document.querySelector('#thucan').textContent = thucan + ' ' + 'g';
    });
</script>