<div class="wrapper">
    <div class="content-page">

        <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand">
                    <p class="title-menu">Ao cá</p>
                </div>
                
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            {{!-- <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">MENU</div>
                            </li> --}}
                            <li class="menu-total dashboard">
                                <a href="pond">
                                    <i class="fa fa-bar-chart" style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Giám sát</span>
                                </a>                              
                            </li>
                            <li class="menu-total warning">
                                <a href="pond-warn">
                                    <i class='fa fa-exclamation-circle' style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Lịch sử cảnh báo</span>
                                </a>                                
                            </li>
                            <li class="menu-total ctrl">                              
                                <a href="pond-ctrl">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">tune</i>
                                    <span>Điều khiển</span>
                                </a>              
                            </li>
                            <li class="menu-total reprt">                              
                                <a href="pond-rep">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">assignment</i>
                                    <span>Báo cáo</span>
                                </a>              
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row export">
                <div class="col-lg-6">
                    <button id="clear-data2" class="btn" style="background-color: red;">DELETE</button>
                </div>
                <div class="col-lg-6">
                    <button id="export-csv1" class="btn" style="background-color: #20806B;">CSV</button>
                </div>
                <div class="col-lg-6">
                    <button id="export-json1" class="btn" style="background-color: #008FB1;">JSON</button>
                </div>
            </div>
            <div class="row report-site">
                <div class="col-lg-12">
                    <div class="card-report">
                        <div class="chart-info-box">
                            <div class="card-header">
                                <h4>Bảng thống kê dữ liệu</h4>
                                <p>Hiển thị dữ liệu 30 ngày gần đây nhất</p>
                            </div>
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Nhiệt độ</th>
                                            <th>PH</th>
                                            <th>Độ đục</th>
                                            <th>Lượng thức ăn</th>
                                            <th>Thời gian cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body5">
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Lấy dữ liệu từ bảng và trả về định dạng JSON
    function getJson() {
        var table = document.getElementById("table-body5");
        var rows = table.getElementsByTagName("tr");
        var data = [];
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            var row = {};
            row["STT"] = cells[0].textContent;
            row["Nhiệt độ"] = cells[1].textContent;
            row["PH"] = cells[2].textContent;
            row["Độ đục"] = cells[3].textContent;
            row["Lượng thức ăn"] = cells[4].textContent;
            row["Thời gian cập nhật"] = cells[5].textContent;
            data.push(row);
        }
        return JSON.stringify(data, null, '\n');
    }

    // Tạo đường dẫn tải file JSON
    function downloadJson() {
        var json = getJson();
        var link = document.createElement("a");
        link.setAttribute("href", "data:text/json;charset=utf-8," + encodeURIComponent(json));
        link.setAttribute("download", "data.json");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    // Lấy dữ liệu từ bảng và trả về dạng chuỗi CSV
    function getCSV() {
        var table = document.getElementById("table-body5");
        var rows = table.getElementsByTagName("tr");
        var csv = "STT,Nhiet do,PH,Do duc,Luong thuc an,Thoi gian\n";
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            for (var j = 0; j < cells.length; j++) {
                csv += cells[j].textContent + ",";
            }
            csv = csv.slice(0, -1);
            csv += "\n";
        }
        return csv;
    }
    
    // Tạo đường dẫn tải file CSV
    function downloadCSV() {
        var csv = getCSV();
        var link = document.createElement("a");
        link.setAttribute("href", "data:text/csv;charset=utf-8," + encodeURIComponent(csv));
        link.setAttribute("download", "data.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    // Thêm sự kiện click cho nút xuất file CSV
    document.getElementById("export-csv1").addEventListener("click", function() {
        downloadCSV();
    });

    // Thêm sự kiện click cho nút xuất file JSON
    document.getElementById("export-json1").addEventListener("click", function() {
        downloadJson();
    });
</script>

<script>
    const socket = io();

    // Initialize an empty array to store data
    let dataArr = [];
    let dataCount = 0;
    const localStorageKey3 = 'dataArrPageReport1';
    let lastUpdateTime = localStorage.getItem('lastUpdateTime') ? parseInt(localStorage.getItem('lastUpdateTime')) : 0;

    function getDataFromLocalStorage() {
        const savedData = localStorage.getItem(localStorageKey3);
        if (savedData) {
            dataArr = JSON.parse(savedData);
            updateTable();
        }
    }

    // Listen for data from Firebase Realtime Database
    socket.on('data7', function(data) {
        data.updateTime = Date.now();
        const currentTime = Date.now();
        if (currentTime - lastUpdateTime >= 300000) {
            lastUpdateTime = currentTime;
            localStorage.setItem('lastUpdateTime', lastUpdateTime.toString());
            data.updateTime = currentTime;
            dataArr.unshift(data);
            dataArr = dataArr.slice(0, 100);
            localStorage.setItem(localStorageKey3, JSON.stringify(dataArr));
            updateTable();
        }
        if (dataCount % 100 === 0) {
            updateTable();
        }
    });

    function clearData() {
        console.log('Clearing data...');
        dataArr = [];
        localStorage.removeItem(localStorageKey3);
        updateTable();
    }

    document.querySelector("#clear-data2").addEventListener("click", function() {
        console.log('Clear data button clicked...');
        clearData();
        updateTable();
    });

    // Update the table with the data in the array
    function updateTable() {
        console.log('Updating table...');
        const tableBody = document.querySelector('#table-body5');
        tableBody.innerHTML = '';
        let count = 1;
        for (const data of dataArr) {
            const tr = document.createElement('tr');
            const td1 = document.createElement('td');
            td1.textContent = count++;
            tr.appendChild(td1);
            const td2 = document.createElement('td');
            td2.textContent = data.TempWater + '℃';
            tr.appendChild(td2);
            const td3 = document.createElement('td');
            td3.textContent = data.Ph + 'ph';
            tr.appendChild(td3);
            const td4 = document.createElement('td');
            td4.textContent = data.Turbidity + ' ' + 'NTU';
            tr.appendChild(td4);
            const td5 = document.createElement('td');
            td5.textContent = data.Thucan + ' ' + 'g';
            tr.appendChild(td5);
            const td6 = document.createElement('td');
            const date = new Date(data.updateTime);
            const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
            td6.textContent = formattedDate;
            tr.appendChild(td6);
            tableBody.appendChild(tr);
        }
    }

    window.addEventListener('load', function() {
        getDataFromLocalStorage();

        const turbidity = localStorage.getItem('turbidity');
        const thucan = localStorage.getItem('thucan');
        const ph = localStorage.getItem('ph');
        const tempWater = localStorage.getItem('tempWater');

        document.querySelector('#turbidity').textContent = turbidity + ' ' + 'NTU';
        document.querySelector('#thucan').textContent = thucan + ' ' + 'g';
        document.querySelector('#ph').textContent = ph + ' ' + 'ph';
        document.querySelector('#tempWater').textContent = tempWater;
    });
</script>

