<div class="wrapper">
    <div class="content-page">
        <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand">
                    <a href="/" class="goHome"><i class="fa-solid fa-house"></i></a>
                    <p class="title-menu">Ao cá</p>
                </div>
                
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            {{!-- <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">MENU</div>
                            </li> --}}
                            <li class="menu-total dashboard">
                                <a href="pond">
                                    <i class="fa fa-bar-chart" style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Giám sát</span>
                                </a>                              
                            </li>
                            <li class="menu-total warning">
                                <a href="pond-warn">
                                    <i class='fa fa-exclamation-circle' style="font-size:24px; margin-right: 5px;"></i>
                                    <span>Lịch sử cảnh báo</span>
                                </a>                                
                            </li>
                            <li class="menu-total ctrl">                              
                                <a href="pond-ctrl">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">tune</i>
                                    <span>Điều khiển</span>
                                </a>              
                            </li>
                            <li class="menu-total reprt">                              
                                <a href="pond-rep">
                                    <i class='material-icons' style="font-size:24px; margin-right: 5px;">assignment</i>
                                    <span>Báo cáo</span>
                                </a>              
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row report">
                <div class="col-lg-12">
                    <div class="card-report">
                        <div class="chart-info-box">
                            <div class="card-header warn">
                                <h4>Thông tin cảnh báo</h4>
                                <p>Hiển thị các sự kiện đã phát hiện</p>
                            </div>
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Sự kiện</th>
                                            <th>Tin nhắn</th>
                                            <th class="detect">Thời gian phát hiện</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body4">
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    const socket = io();

    // Initialize an empty array to store data
    let dataArr = [];
    let hasAlert = false;
    let hasAlert1 = false;
    let hasAlert2 = false;
    const localStorageKeyw = 'dataArrPageWarn2';

    function getDataFromLocalStorage() {
        const savedData = localStorage.getItem(localStorageKeyw);
        if (savedData) {
            dataArr = JSON.parse(savedData);
            updateTable();
        }
    }

    socket.on('data6', function(data) {
        data.updateTime = Date.now();

        if (data.Alert_tempw === '' && hasAlert1) {
            hasAlert1 = false;
            dataArr.unshift({ Alert_tempw: '', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        } else if (data.Alert_tempw === 'TemperatureW low!' && !hasAlert1) {
            hasAlert1 = true;
            dataArr.unshift({ Alert_tempw: 'TemperatureW low!', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        } else if (data.Alert_tempw === 'TemperatureW high!' && !hasAlert1) {
            hasAlert1 = true;
            dataArr.unshift({ Alert_tempw: 'TemperatureW high!', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        }

        if (data.Alert_tur === '' && hasAlert) {
            hasAlert = false;
            dataArr.unshift({ Alert_tur: '', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        } else if (data.Alert_tur === 'Turbidity low!' && !hasAlert) {
            hasAlert = true;
            dataArr.unshift({ Alert_tur: 'Turbidity low!', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        } else if (data.Alert_tur === 'Turbidity high!' && !hasAlert) {
            hasAlert = true;
            dataArr.unshift({ Alert_tur: 'Turbidity high!', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        }

        if (data.Alert_ph === '' && hasAlert2) {
            hasAlert2 = false;
            dataArr.unshift({ Alert_ph: '', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        } else if (data.Alert_ph === 'Ph low!' && !hasAlert2) {
            hasAlert2 = true;
            dataArr.unshift({ Alert_ph: 'Ph low!', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        } else if (data.Alert_ph === 'Ph high!' && !hasAlert2) {
            hasAlert2 = true;
            dataArr.unshift({ Alert_ph: 'Ph high!', updateTime: Date.now() });
            dataArr = dataArr.slice(0, 100);
            updateTable();
        }
        localStorage.setItem(localStorageKeyw, JSON.stringify(dataArr));
    });

    function updateTable() {
        const tableBody = document.querySelector('#table-body4');
        tableBody.innerHTML = '';
        let count = 1;

        for (const data of dataArr) {
            const tr = document.createElement('tr');
            const td1 = document.createElement('td');
            td1.textContent = count++;
            tr.appendChild(td1);

            const td2 = document.createElement('td');
            if (data.Alert_tempw === 'TemperatureW low!' || data.Alert_tempw === '' || data.Alert_tempw === 'TemperatureW high!')
                td2.textContent = 'Nhiệt độ nước';
            if (data.Alert_tur === 'Turbidity low!' || data.Alert_tur === '' || data.Alert_tur === 'Turbidity high!')
                td2.textContent = 'Độ đục';
            if (data.Alert_ph === 'Ph low!' || data.Alert_ph === '' || data.Alert_ph === 'Ph high!')
                td2.textContent = 'Độ PH';
            tr.appendChild(td2);

            const td3 = document.createElement('td');
            if (data.Alert_tempw === 'TemperatureW low!')
                td3.textContent = 'Quá thấp';
            else if (data.Alert_tempw === 'TemperatureW high!')
                td3.textContent = 'Quá cao';
            else if (data.Alert_tempw === '')
                td3.textContent = 'Thích hợp';

            if (data.Alert_tur === 'Turbidity low!')
                td3.textContent = 'Quá thấp';
            else if (data.Alert_tur === 'Turbidity high!')
                td3.textContent = 'Quá cao';
            else if (data.Alert_tur === '')
                td3.textContent = 'Thích hợp';

            if (data.Alert_ph === 'Ph low!')
                td3.textContent = 'Quá thấp';
            else if (data.Alert_ph === 'Ph high!')
                td3.textContent = 'Quá cao';
            else if (data.Alert_ph === '')
                td3.textContent = 'Thích hợp';
            tr.appendChild(td3);

            const td4 = document.createElement('td');
            const date = new Date(data.updateTime);
            const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
            td4.textContent = formattedDate;
            tr.appendChild(td4);
            tableBody.appendChild(tr);
        }
    }


    window.addEventListener('load', function() {
        getDataFromLocalStorage();
        
        const turbidity = localStorage.getItem('turbidity');
        const thucan = localStorage.getItem('thucan');
        const ph = localStorage.getItem('ph');
        const tempWater = localStorage.getItem('tempWater');

        document.querySelector('#turbidity').textContent = turbidity + ' ' + 'NTU';
        document.querySelector('#thucan').textContent = thucan + ' ' + 'g';
        document.querySelector('#ph').textContent = ph + ' ' + 'ph';
        document.querySelector('#tempWater').textContent = tempWater;
    });
</script>